.background{
justify-content: center;
background: linear-gradient(to right,rgba(5, 0, 46, 0.7), rgba(5, 0, 46, 0.7)), url("../../assets/Images/download-bg.jpeg") no-repeat ; 
background-size: cover;
height: 80vh;

}
.devicestore{
display: flex;
gap: 100px;
align-items: center;
height: 200px;
justify-content: center;
flex-wrap: wrap;

width: 100%;
}
.footer p{
color: white;
}