.background{
background-color: var(--sectionColor);
 padding-top: 50px ;
 /* padding-bottom: 100px; */
}
.content{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.lists{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.list{
    display: flex;
    gap: 15px;
}

.list img{
    width: 10px;
    margin-right: 5px;
}

.contact{
    display: flex;
    gap: 15px;
}
.icon{
    background:#ffff;
    padding:10px;
    color:var(--lightBlue);
    border:1px solid white
}
